<%- include('partial/header.ejs')  -%>


<title>Login</title>
<style>
    .form-row {
        margin: 5%;
    }
</style>
</head>

<body>
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="images/adventure.svg" width="30" height="30" class="d-inline-block align-top">
            <span class="active">&nbsp;Adventure</span>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="frmcontainer">
            <div class="frmlogin">
                <div class="row">
                    <div class="col align-self-center text-center">
                        <h2 style="margin: 0 auto;">Login</h2>
                    </div>
                </div>
                <hr class="my-3">

                <form method="POST" action="/login">
                    <div class="form-row">
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email Address"
                                required="required">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="password" name="password" class="form-control" placeholder="Password"
                                required="required">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="tncCheck" type="checkbox" id="terms">
                                <label class="form-check-label" for="terms">
                                    Keep me logged in
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-warn">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('partial/footer.ejs')  -%>