<%- include('partial/header.ejs') -%>

<h1>Successfully Logged In.</h1>

<a href="/logout"><button type="button">Logout</button> </a>

<hr>

<a href="/dashboard"> <button type="button">My Dashboard </button> </a>

<%- include('partial/footer.ejs') -%>